# Resend API Key para el envío de formularios de contacto
RESEND_API_KEY=re_placeholder_api_key_here

# Coordenadas Oficiales de Tesorería & Cobro B2B (ARBIZU LABS)
NEXT_PUBLIC_TREASURY_TITULAR="Aldo Alberto Arbizu"
NEXT_PUBLIC_TREASURY_CUIT="20-38362060-1"
NEXT_PUBLIC_MP_ALIAS=aldoarbizu
NEXT_PUBLIC_GALICIA_ALIAS=ALDO.ARBIZU.GALICIA
NEXT_PUBLIC_GALICIA_CBU=0070149130004016919618
NEXT_PUBLIC_WEB3_BASE_L2=0xb73ca1C37e9aA57F3051A0E8381Ca9CBA772A718
NEXT_PUBLIC_WHATSAPP_OFFICIAL="+54 9 2314 489197"

